.container1{
	padding:19px 29px 29px;
	margin:-100px 0 0 -200px;
	position: absolute;
	top: 30%;
	left: 45%;
	width:600px;
}

.content{
	width:25%;
}
.content h3 {
	margin:15px;
}
.content input {
	margin:15px;
	margin-left:10%;
}
.clear{
	clear:both;
}
header{
	margin:10px;
}
.center-unit{
	position:absolute;
	top:48%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	-o-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%)
}
.box{
	padding:30px;
	background-color:#fafafa;
	border:1px solid #d4d4d4;
}
